@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-link {
  @apply text-slate-800 rounded-2xl cursor-pointer duration-150 relative;
}
.navbar-link.dark {
  @apply bg-transparent text-white;
}
.navbar-link:before {
  content: "";
  @apply absolute bg-slate-800 w-full h-1 origin-left -translate-x-1/2 translate-y-7 scale-x-0 left-1/2 transition-all duration-300;
}
.navbar-link.dark:before {
  content: "";
  @apply absolute bg-white;
}
.navbar-link:hover:before {
  content: "";
  @apply scale-x-100;
}
